@{
    ViewBag.Title = "Make";
    Layout = "_LayoutMakeTiny";
}



<div class="row">	
	<div class="col-md-5 col-md-pull-7">
		<div class="booking-form">  

            <div id="processUrl" class="">
                <div class="form-group">
                    <span class="form-label">Give Url Here</span>
                    <input type="url" class="form-control" id="longUrl" placeholder="https://www.google.com/" required />
                </div>
                <div class="form-group">
                    <span class="form-label">Customize link</span>
                    <input type="text" class="form-control" id="customShort" />
                </div>
                <div class="form-btn">
                    <button type="submit" class="btn btn-primary" id="shortBtn" onclick="GenerateShortUrl()">
                        <span class="spinner-border spinner-border-sm visually-hidden" id="spinner" role="status" aria-hidden="true"></span>
                        Short It
                    </button>                    
                </div>

            </div>

            <div id="generatedUrl" class="visually-hidden">
                <div class="form-group">
                    <span class="form-label">Give Url Here</span>
                    <input type="url" class="form-control" id="longUrlAfter"/>
                </div>
                <div class="form-group">
                    <label class="form-label">Your short URL is</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="shortUrl" readonly>
                        <button class="btn btn-outline-secondary" type="button" id="copyButton">Copy</button>
                    </div>
                </div>
                <div class="form-btn">
                    <button type="submit" class="btn btn-primary" id="shortBtn" onclick="GenerateShortUrl()">
                        <i class="fa-solid fa-left-long"></i>  Tiny Another
                    </button>
                </div>
            </div>
            


            @* <div id="generatedUrl" class="visually-hidden" style="margin-top: 4rem">
                <div class="form-group">
                    <label class="form-label">Your short URL is</label>

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="shortUrl" readonly>
                        <button class="btn btn-outline-secondary" type="button" id="copyButton">Copy</button>
                    </div>
                </div>
            </div> *@

		</div>
	</div>
    <div class="col-md-6 col-md-push-5">
		<div class="booking-cta">
			<h1>Make your URL Tiny</h1>
			@* <p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi facere, soluta magnam consectetur molestias itaque
				ad sint fugit architecto incidunt iste culpa perspiciatis possimus voluptates aliquid consequuntur cumque quasi.
				Perspiciatis.
			</p> *@
		</div>
	</div>
</div>


 
@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    
    <script type="text/javascript">

        $("#copyButton").click(function () {
            // Select the text in the input field
            $("#shortUrl").select();

            // Copy the selected text to the clipboard
            document.execCommand("copy");

            // Optionally, you can provide feedback to the user
            alert("Copied to clipboard!");
        });



        function GenerateShortUrl(){

            let url = $("#longUrl").val();
            let customShort = $("#customShort").val();


            if (!ValidateUrl(url, customShort)) {
                return;
            }

           

            $("#spinner").removeClass("visually-hidden");
            
            $.ajax({
                url: "/Url/ShortenUrl",
                method: "GET",
                dataType: "json",
                data: { longUrl: url, customUrl: customShort },
                success: function (data) {

                    console.log(data);

                    if (!data.success) {
                        alert(data.message);
                        return;
                    }

                    let fullShortUrl = window.location.origin + "/tiny/" + data.value;

                    $("#spinner").addClass("visually-hidden");

                    $("#processUrl").addClass("visually-hidden");

                    $("#generatedUrl").removeClass("visually-hidden");

                    $("#longUrlAfter").val(url);
                    
                    $("#shortUrl").val(fullShortUrl);                    
                },
                error: function (error) {
                    // Handle error
                    console.error(error);
                },
            });
        }

        function ValidateUrl(url, customShort) {

            let validation = true;

            if (url == "") {
                swal(
                    {
                        title: "Empty URL.",
                        text: "Please enter an URL.",
                        icon: "error",
                        timer: 3000,
                    }
                );
                validation = false;
            } else {

                var urlRegex = /^(https?|ftp):\/\/[^\s/$.?#].[^\s]*$/i;

                if (!urlRegex.test(url)) {
                    swal(
                        {
                            title: "Invalid URL.",
                            text: "Please enter a valid URL.",
                            icon: "error",
                            timer: 3000,
                        }
                    );
                    //alert('Invalid URL. Please enter a valid URL.');
                    validation = false;
                }
            }

            if (validation) {
                if (customShort != "") {

                    if (customShort.length > 10) {
                        swal(
                            {
                                title: "Invalid Custom.",
                                text: "Custom must not be greater than 10 characters.",
                                icon: "error",
                                timer: 3000,
                            }
                        );
                        //alert("Custom must not be greater than 10 characters.");
                        validation = false;
                    }
                    else if (customShort.length < 5) {
                        swal(
                            {
                                title: "Invalid Custom.",
                                text: "Custom must be at least 5 characters.",
                                icon: "error",
                                timer: 3000,
                            }
                        );
                        //alert("Custom must be at least 5 characters.");
                        validation = false;
                    }

                }
            }
            

            return validation;
        }
    </script>
}