@{
    ViewBag.Title = "Make";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-8">
        <label class="form-label">Give Url Here</label>
        <input type="text" class="form-control" id="longUrl" placeholder="https://www.google.com/" required/>
        
    </div>
    <div class="col-4">
        <label class="form-label">Customize your link</label>
        <input type="text" class="form-control" id="customShort" />

    </div>
</div>

<button type="submit" class="btn btn-primary mt-4" id="shortBtn" onclick="GenerateShortUrl()">Short It</button>

<div id="generatedUrl" class="visually-hidden">
    <label class="form-label">Your short URL is</label>

    <div class="input-group mb-3">
        <input type="text" class="form-control" id="shortUrl" readonly>
        <button class="btn btn-outline-secondary" type="button" id="copyButton">Copy</button>
    </div>


    @* <input type="text" class="form-control" id="shortUrl" readonly/>

    <button type="button" id="copyButton">Copy</button> *@
</div>

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    
    <script type="text/javascript">

        $("#copyButton").click(function () {
            // Select the text in the input field
            $("#shortUrl").select();

            // Copy the selected text to the clipboard
            document.execCommand("copy");

            // Optionally, you can provide feedback to the user
            alert("Copied to clipboard!");
        });



        function GenerateShortUrl(){

            let url = $("#longUrl").val();
            if (url == "") {
                alert("Please enter a URL in the 'Give Url Here' field.");
                return;
            }

            let customShort = $("#customShort").val();
            if (customShort != "") {

                if (customShort.length > 10) {
                    alert("Custom must not be greater than 10 characters.");
                    return;
                } 
                else if (customShort.length < 5) {
                    alert("Custom must be at least 5 characters.");
                    return;
                }
                
            }
            
            
            $.ajax({
                url: "/Url/ShortenUrl",
                method: "GET",
                dataType: "json",
                data: { longUrl: url, customUrl: customShort },
                success: function (data) {
                    if (!data.success) {
                        alert(data.message);
                        return;
                    }

                    let fullShortUrl = window.location.origin + "/tiny/" + data.value;

                    $("#generatedUrl").removeClass("visually-hidden")

                    $("#shortUrl").val(fullShortUrl)                    
                },
                error: function (error) {
                    // Handle error
                    console.error(error);
                },
            });
        }
        
    </script>
}